/* CSS Document */

body{
	min-width: 500px;
}

svg{
	margin: 20px;
}

.head{
	width: 100%;
	height: 200px;
	background-color: #5A5A5A;
	
}

.wrapper{
	height: 700px;
	display: flex;
	align-content: flex-start;
}

.left-bar{
	width: 25%;
	background-color: #EB5028;
}

.content{
	width: 50%;
	background-color: #FFD747;
}

.right-bar{
	width: 25%;
	background-color: #0FA0F5;
}

.bottom{
	height: 200px;
	width: 100%;
	background-color: #9146F0;
}
